
body {
    height:100vh;
    margin:0;
    background-image: url("../img/space.jpg");
}

.container {
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;

    height:100%;
    position:relative;
}

.title {
    justify-self: flex-start;
    font-size: 72px;
    color:white;
    margin-bottom:150px;
}

#game {
    background-image: url("../img/background.jpg");
    width:1000px;
    height:650px;
    border:2px solid white;
    background-size: cover;
    border-radius:10px;
    box-shadow: 0 0 250px white;
}

.button.hidden, .button.started, .hidden {
    display:none;
}

.dead {
    display:none;
    width: 100%;
    text-align: center;
    background-color:white;
}

.startPage, .descriptionPage {
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    position:absolute;
    content: "";
    top:0;
    width:1000px;
    height:650px;
    border:2px solid white;
    background-size: cover;
    border-radius:10px;
    box-shadow: 0 0 250px white;
    transition: transform 3s ease;
}

.descriptionText {
    color:white;
    font-size:18px;
}

.descriptionTitle {
text-align:center;
}

.button {
    margin-top:20px;
    width:350px;
    height:80px;
    border:2px solid white;
    border-radius:10px;
    color:white;
    font-size:54px;
    display:flex;
    justify-content: center;
    align-items: center;
    transition:all .6s ease;
    box-shadow:0 0 30px white;
}

.button:hover {
    width:430px;
    font-size:64px;
    display:flex;
    justify-content: center;
    align-items: center;
    cursor:pointer;
    color:#ce0b0b;
}

.slideToTop {
    transform: translateY(-1000px);
}