
body {
    height:100vh;
    margin:0;
    background-image: url("../img/space.jpg");
}

.container {
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;

    height:100%;
    position:relative;
}

.title {
    justify-self: flex-start;
    font-size: 72px;
    color:white;
    margin-bottom:150px;
}

#game {
    background-image: url("../img/background.jpg");
    width:1000px;
    height:650px;
    border:2px solid white;
    background-size: cover;
    border-radius:10px;
    box-shadow: 0 0 250px white;
}

.button.hidden, .button.started, .hidden {
    display:none;
}

.dead {
    display:none;
    width: 100%;
    text-align: center;
}

.startPage, .descriptionPage {
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    position:absolute;
    content: "";
    top:10vh;
    width:1000px;
    height:650px;
    border:2px solid white;
    background-size: cover;
    border-radius:10px;
    box-shadow: 0 0 250px white;
    transition: transform 3s ease;
}

.copyright {
    padding-top:100px;
    color:white;
}

.descriptionPage {
    justify-content:space-evenly;
}

.screenshoots {
    width:100%;
    display:flex;
    flex-direction:row;
    justify-content: space-evenly;
    align-items: center;
}

.screenshoot {
    border:2px solid white;
    border-radius:5px;
    transition:transform 1s ease;
}

.screenshoot:hover {
    transform: scale(1.5);
}

.descriptionText {
    color:white;
    font-size:18px;
}

.descriptionTitle, .endGameText {
text-align:center;
color:white;
font-size:32px;
}

.endGameText {
    display:block;
}

.scoreText {
    color:#ce0b0b;
}

.button {
    margin-top:20px;
    width:350px;
    height:80px;
    border:2px solid white;
    border-radius:10px;
    color:white;
    font-size:54px;
    display:flex;
    justify-content: center;
    align-items: center;
    transition:all .6s ease;
    box-shadow:0 0 30px white;
}

/* .backbutton {
    margin-bottom:20px;
} */

.button:hover {
    width:430px;
    font-size:64px;
    display:flex;
    justify-content: center;
    align-items: center;
    cursor:pointer;
    color:#ce0b0b;
}

.slideToTop {
    transform: translateY(-1500px);
}